:root {
  /* main width */
  --mw: 75vw;  /* usage: width: var(--mw); */
}

.main {
  /* display: block; */
  /* text-align: center !important; */
  margin: auto !important;
  min-height: 90vh;
  max-width: var(--mw);
  padding: 20px;
}

#root nav.navbar{
  padding: 0 calc((100vw - var(--mw))/2);
}


/* Media query for small screens */
@media (max-width: 720px) {
  .main {
      max-width: 100%;
  }
  #root nav.navbar{
    padding: 0;
  }

}
