body {
    background-color: #161616;
}


.navbar-brand {
    margin-left: 20px;
    margin-right: 5px;
}

nav div .hr-dark{
    color: #161616;
    padding-bottom: 60px;
    margin-block-start:0px;
    margin-block-end: 0px;
}

hr {
    color: #fff;
    opacity: 1;
}

/* changing the color palette */
:root {
    --bs-dark: #171717;
    --bs-dark-rgb: 23,23,23;
}

div.main-absolute {
    position: absolute;
    right:20px;
    left: 245px;
    bottom:20px; 
    top:60px;
    /* top:78px;
    padding-top: 32px; */
} 


/* Style sidebar links */
#sidebar a {
    padding: 0px 20px 8px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
}


.sidebar a .float-right{
    float:right;
}

/* Style the main content */
/* .main {
    margin-left: 160px; /*Same as the width of the sidenav
    padding: 0px 10px;
} 
*/

body main div#sidebar.sidebar footer#logofooter {
    background-color: #444;
    width: 230px;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: block
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}



/* ======================================== */
/* ======================================== */
/* ======================================== */



body {
    background-color: #373737;
}

.app-container {
    display: flex;
    height: 100vh;
}

/* Style the sidebar - fixed full height */
#sidebar {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 49px;
    left: 0;
    background-color: #161616;
    overflow-x: hidden;
    padding-top: 20px;
}

body div main.main div div#sidebar.sidebar > ul > li{
    margin-top: 10px;
}



body div main.main div div#sidebar.sidebar ul {
    padding-left: 0.5rem !important;
    list-style-type: none;
}

.nav-link svg {
    margin-right: 10px;
}

.collapse {display: none;}

.show {display: block;}

.content {
    margin-left: 230px;    /* Same as the width of the sidenav */
    padding: 20px;
}