/* div.main-absolute {
    position: absolute;
    right:20px;
    left: 245px;
    bottom:20px; 
    top:60px;
    margin-left: 160px; /*Same as the width of the sidenav
}  */


/* Style sidebar links */
#sidebar a {
    padding: 0px 20px 8px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
}


footer#logofooter {
    background-color: #444;
    width: 230px;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: block
}


body {
    background-color: #373737;
}

.app-container {
    height: 100vh;
}

/* Style the sidebar - fixed full height */
#sidebar {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 49px;
    left: 0;
    background-color: #161616;
    overflow-x: hidden;
    padding-top: 20px;
}

body div main.main div div#sidebar.sidebar > ul > li{
    margin-top: 10px;
}

.sidebar a svg:nth-child(2){
    float:right;
}



body div main.main div div#sidebar.sidebar ul {
    padding-left: 0.5rem !important;
    list-style-type: none;
}

.nav-link svg {
    margin-right: 10px;
}

.collapse {display: none;}

.show {display: block;}

.content {
    margin-left: 230px;    /* Same as the width of the sidenav */
    padding: 20px;
}