.App-header {
    padding: 10px 20px;
}

.logo {
    font-size: 1.5em;
    margin-left: 10px;
}

.nav-link {
    color: #999;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #2aa;
}